.image-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.navigation {
  float: right;
  display: flex;
  gap: 100px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}